@use '../abstracts/' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 67.5%;
}

body {
  font-family: $font-league-spartan;
  position: relative;
}
