@use '../../../assets/styling/abstracts/' as *;
@use '../../../assets/styling/base/' as *;

aside {
  padding: 6em 10%;
  position: relative;
  
  h2{
    margin-bottom: 1.8rem;
    font-size:clamp(3rem, 30vw + 14px, 4rem);
    font-weight: 600;
    letter-spacing: -1.67px;
  }

  p{
    @include font-style-paragraph
  }
}
