@use '../../assets/styling/abstracts' as *;

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10% 5%;

  @media (min-width: $sw-mobile) {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 40%;
  }

  .navigation-links {
    font-size: 1.8rem;
    color: $color-white;
    list-style: none;
    width: 70%;
    cursor: pointer;

    @media (min-width: $sw-mobile) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .nav-links-dark {
    color: $color-black;
    display: flex;
    justify-content: space-between;

    .navigation-link {

      &:hover {
        color: $color-dark-gray
      }
    }
  }

  .nav-links-white {
    color: $color-white;
    display: none;
  }

  #logo-container {
    position: relative;
    width: 100%;
  }


  #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.nav-open{
  background-color: $color-white;
}

.nav-closed{
  background-color: none;
}

#burger-menu {
  cursor: pointer;
  background: none;
}
