@use '../../assets/styling/abstracts' as *;

.mobile-navigation {
  display: flex;
  justify-content: space-between;
  padding: 10% 5%;

  @media (min-width: $sw-mobile) {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 40%;
  }

  .mobile-navigation-links {
    font-size: 1.8rem;
    color: $color-black;
    list-style: none;
    width: 70%;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
  }


  #logo-container {
    position: relative;
    width: 100%;
  }


  #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mobile-navigation-open{
  background-color: $color-white;
}

.mobile-navigation-closed{
  background-color: none;
}

#burger-menu {
  cursor: pointer;
  background: none;
}
