@use '../../assets/styling/abstracts/' as *;

.desktop-navigation {
  display: flex;
  gap: clamp(5vw, 10%, 10vw);
  align-items: center;
  padding: 5vh 3.6rem 0;

  .desktop-navigation-links{
    display: flex;
    justify-content: space-between;
    gap: .8em;
    list-style: none;
    font-size: 1.8rem;
    color: $color-white;

    .desktop-navigation-link:hover{
      cursor: pointer;
      border-bottom: solid 2px;
    }
  }
}
