@use './variables' as *;


@mixin font-style-about-section-title {
  color: $color-very-dark-gray;
  font-weight: $font-weight-bold;
  letter-spacing: 0.58rem;
  font-size: 1.4rem;
  line-height: 2.2;
  text-transform: uppercase;
}

@mixin font-style-paragraph {
  color: $color-dark-gray;
  font-weight: $font-weight-medium;
  margin-bottom: 2.4em;
  font-size: $font-size-paragraph;
  letter-spacing: -0.33px;
  line-height: 1.8;
}
