@use '../../../assets/styling/abstracts/' as *;

header{
  position: relative;
  background-size: cover;
  background-position: center;

  @media (min-width: $sw-mobile) {
    background-position: center;
    height: 100%;
  }
}
