@use '../../assets/styling/abstracts/' as *;

main{
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  .angle-btns {
    position: absolute;
    bottom: 0;
  }

  @media (min-width: $sw-mobile) {
    grid-template-columns: repeat(2, 50%);
  }
}
