@use '../../assets/styling/abstracts/' as *;

main{
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  grid-auto-rows: 70vh;

  @media (min-width: $sw-mobile) {
    grid-template-columns: repeat(2, 50%);
  }
}
